<ion-content [fullscreen]="true">
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>
  <div class="circleBase type2 circle2"></div>

  <ion-label class="welcomeMessage">
    <ion-text style="color: #f2e6ff">Forgot</ion-text>
    <ion-text color="light"><p>Password?</p></ion-text>
  </ion-label>

  <ion-icon
    name="arrow-back-outline"
    color="white"
    class="backButton"
    routerLink="/login"
  >
  </ion-icon>

  <div class="header">
    <h2 class="title">Enter Your Email</h2>
    <p class="subTitle">To receive a reset password link</p>
  </div>

  <form novalidate>
    <div class="ion-padding">
      <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
        <ion-item class="ion-margin-vertical">
          <ion-icon name="mail-outline" slot="end" color="medium"></ion-icon>
          <ion-input
            [(ngModel)]="email"
            placeholder="Email"
            class="input"
            name="email"
            required
          ></ion-input>
        </ion-item>

        <ion-button
          class="signin"
          color="primary"
          shape="round"
          (click)="resetPassword()"
        >
          Reset Now
        </ion-button>
      </ion-list>
    </div>
  </form>
</ion-content>
