<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Enter Your Email
      <p class="subTitle">To receive a reset password link</p>
    </ion-title>
  </div>
  <div>
    <ion-item
      ><ion-icon name="person-outline" slot="end"> </ion-icon>
      <ion-input placeholder="Enter your email"></ion-input>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
      <ion-fab-button class="my-fab-button" [routerLink]="['/home']">
        <ion-icon name="chevron-forward"> </ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
