.books-page {
  ion-searchbar {
    margin: 12px;
  }
  .loading-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .no-results {
    text-align: center;
    margin-top: 20px;
    color: var(--ion-color-medium);
  }
  ion-item h2 {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .snippet {
    color: var(--ion-color-medium);
    font-size: 14px;
    margin-top: 6px;
  }
}
