<ion-header>
  <ion-toolbar>
    <ion-title>Books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="books-page">
  <ion-searchbar
    placeholder="Pretraži knjige"
    [(ngModel)]="searchTerm"
    (ionInput)="onSearchInput($event)"
    (ionClear)="onClear()"
  >
  </ion-searchbar>

  <div class="loading-wrap" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="!loading && books.length === 0 && searchTerm" class="no-results">
    Nema rezultata za "{{ searchTerm }}"
  </div>

  <ion-list *ngIf="books.length > 0">
    <ion-item
      *ngFor="let b of books"
      [routerLink]="['/reviews', b.id]"
      [state]="{ book: b }"
    >
      <ion-thumbnail slot="start" *ngIf="b.thumbnail">
        <img [src]="b.thumbnail" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ b.title }}</h2>
        <p *ngIf="b.authors">{{ b.authors.join(', ') }}</p>
        <p
          class="snippet"
          [innerHTML]="(b.description ? (b.description | slice:0:200) : '') + (b.description && b.description.length > 200 ? '...' : '')"
        ></p>
        <ion-note *ngIf="b.publishedDate">{{ b.publishedDate }}</ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>
</ion-content>
