<ion-content [fullscreen]="true">
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>
  <div class="circleBase type2 circle2"></div>

  <ion-label class="welcomeMessage">
    <ion-text style="color: #f2e6ff">Welcome,</ion-text>
    <ion-text color="light"><p>Sign Up</p></ion-text>
  </ion-label>

  <ion-icon
    name="arrow-back-outline"
    color="white"
    class="backButton"
    routerLink="/login"
  >
  </ion-icon>

  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
        <ion-item class="ion-margin-vertical">
          <ion-icon name="person-outline" slot="end" color="medium"></ion-icon>
          <ion-input
            placeholder="Enter Fullname"
            formControlName="fullname"
            class="input"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="regForm.controls?.['fullname'].touched && regForm.controls?.['fullname'].invalid"
          class="error-wrapper"
        >
          <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="errorControl.fullname.errors?.required"
          >
            Fullname is required.
          </ion-text>
        </div>

        <ion-item>
          <ion-icon name="mail-outline" slot="end" color="medium"></ion-icon>
          <ion-input
            placeholder="Enter Email"
            formControlName="email"
            class="input"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="regForm.controls?.['email'].touched && regForm.controls?.['email'].invalid"
          class="error-wrapper"
        >
          <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="errorControl.email.errors?.required"
          >
            Email is required.
          </ion-text>
          <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="errorControl.email.errors?.pattern"
          >
            Please provide valid email.
          </ion-text>
        </div>

        <ion-item>
          <ion-icon
            name="lock-closed-outline"
            color="medium"
            slot="end"
          ></ion-icon>
          <ion-input
            type="password"
            placeholder="Enter Password"
            formControlName="password"
            class="input"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="regForm.controls?.['password'].touched && regForm.controls?.['password'].invalid"
          class="error-wrapper"
        >
          <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="errorControl.password.errors?.required"
          >
            Password is required.
          </ion-text>
          <ion-text
            class="ion-text-left"
            color="danger"
            *ngIf="errorControl.password.errors?.pattern"
          >
            Password must be more than 8 characters, contain at least one
            capital letter and one number.
          </ion-text>
        </div>
        <ion-button
          class="signin"
          color="primary"
          shape="round"
          (click)="signUp()"
        >
          Sign Up
        </ion-button>
        <div class="signupLink">
          <p>
            Already a Member?
            <a style="color: rgb(114, 12, 173)" [routerLink]="['/login']"
              >Sign In Now</a
            >
          </p>
        </div>
      </ion-list>
    </div>
  </form>
</ion-content>
