<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Welcome</ion-title>
    <p class="subTitle">Sign In To Create Your Account</p>
  </div>
  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-icon name="person-outline" slot="end"> </ion-icon>
        <ion-input placeholder="name" class="input"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person-outline" slot="end"> </ion-icon>

        <ion-input placeholder="email" class="input"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        <ion-input placeholder="password" class="input"> </ion-input>
      </ion-item>
      <div class="signupLink">
        <p>
          Already a Member?
          <a style="color: rgb(114, 12, 173)" [routerLink]="['/login']"
            >Sign In Now</a
          >
        </p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
      <ion-fab-button class="my-fab-button" [routerLink]="['/home']">
        <ion-icon name="chevron-forward"> </ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
