ion-list {
  ion-list-header {
    ion-label {
      font-size: 0.9rem;
    }
  }
  ion-item {
    ion-label {
      font-weight: bold;
      div {
        margin-top: 8px;
        ion-text {
          font-size: 0.9rem;
        }
      }
      p {
        margin-top: 5px;
        ion-text {
          font-size: 0.75rem;
          span {
            font-weight: normal;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

ion-modal {
  ion-row {
    ion-col {
      ion-label {
        letter-spacing: 0.5px;
        font-size: 0.9rem;
      }
      ion-textarea {
        --background: var(--ion-color-light);
        --border-radius: 5px;
      }
    }
    ion-col.rate {
      margin-top: 2vh;
      margin-bottom: 2vh;
    }
  }
}

app-star-rating {
  display: block;
  margin-top: 5px;
}

.book-thumbnail {
  height: 100%;
  aspect-ratio: 2 / 3;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.purple-toolbar {
  --background: #44007c;
  --ion-background-color: #44007c;
  color: #ffffff;
}

.backButton {
  position: absolute;
  top: 187px;
  left: 15px;
  font-size: 2rem;
}

ion-title {
  text-align: center;
}

#sortSelect {
  padding: 5.5px 4px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

#sortSelect option {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

.small-back-button {
  font-size: 0.9rem;
  --padding-start: 2px;
  --padding-end: 2px;
  margin-left: 10px;
  margin-top: 4px;
}
